
 body {
	 background: #ffffff;
	 color: #000000;
}
 a {
	 color: #808000
}
 h1 {
	 color: #008080
}
 p {
	 color: #008080
}
 ol {
	 color: #008080
}
.container {
	width: 1490px;
	height: 850px;
	background-image: linear-gradient(to right, #E2BCBB, #E4514A);
	}
	
	.navi { 
		text-decoration: none; 
        color: #008080;
	   } 

       hr {
    color: #008080; /* Цвет линии для остальных браузеров */
    height: 4px; /* Толщина линии */
	   }
